{% extends '_base.html.twig' %}

{% block twitterTitle %}{{ title }}{% endblock %}
{% block twitterDescription %}{{ description }}{% endblock %}
{% block twitterImage %}{{ url }}/ik%20haat%20alles!.jpg{% endblock %}
{% block twitterUrl %}{{ url }}/{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="wrapper" class="wrapper" data-app-url="{{ url }}">
        <div class="middle-container">
            <div class="middle">
                <input id="input" class="input" type="text" placeholder="Ik haat alles!" autocomplete="off" autofocus>
                <br>
                <div class="image-wrapper" >
                    <img id="image" class="image" src="{{ url }}/ik%20haat%20alles!.jpg" alt="ik haat alles!">
                </div>
                <br>
                <div id="urlInputWrapper" class="url-input-wrapper">
                    <input id="urlInput" class="url-input" type="text" readonly="readonly" data-clipboard-target="#urlInput">
                    <div id="copiedToClipboardMessage" class="copied-to-clipboard-message" data-text="Link gekopieërd naar klembord!"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
