{% extends '_base.html.twig' %}

{% block twitterTitle %}{{ title }}{% endblock %}
{% block twitterDescription %}{{ description }}{% endblock %}
{% block twitterImage %}{{ url }}/ik%20haat%20alles!.jpg{% endblock %}
{% block twitterUrl %}{{ url }}/{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="wrapper" class="wrapper" data-app-url="{{ url }}">
        <div class="middle-container">
            <div class="middle">
                <input id="input" class="input" type="text" placeholder="Ik haat alles!" autocomplete="off" autofocus>
                <br>
                <div class="image-wrapper" >
                    <img id="image" class="image" src="{{ url }}/ik%20haat%20alles!.jpg" alt="ik haat alles!">
                </div>
                <br>
                <div id="urlInputWrapper" class="url-input-wrapper">
                    <input id="urlInput" class="url-input" type="text" readonly="readonly" data-clipboard-target="#urlInput">
                    <div id="copiedToClipboardMessage" class="copied-to-clipboard-message" data-text="Link gekopieërd naar klembord!"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="social">
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-via="kabouterisboos" data-hashtags="ikhaatalles" data-url="{{ url }}/">Tweet</a>
        <div class="fb-share-button" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse" data-href="{{ url }}/">Share</a></div>
    </div>
{% endblock %}
