{% extends '_base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="wrapper" data-app-url="{{ url }}">
        <div class="middle-container">
            <div class="middle">
                <input id="input" type="text" placeholder="ik haat alles!" autocomplete="off" autofocus>
                <br>
                <img id="image" src="{{ url }}/ik%20haat%20alles!.jpg" alt="ik haat alles!">
                <br>
                <input id="urlInput" type="text" value="{{ url }}/ik%20haat%20iedereen%20en%20alles!.jpg" readonly="readonly">
            </div>
        </div>
    </div>

    <div class="social">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="wouterds" data-hashtags="kabouterwesley" data-url="{{ url }}/">Tweet</a>
        <div class="fb-like" data-colorscheme="light" data-href="{{ url }}/" data-layout="button_count" data-action="like" data-show-faces="false" data-send="false"></div>
    </div>
{% endblock %}

{% block scripts_first %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
