{% extends '_base.html.twig' %}

{% block twitterTitle %}{{ title }}{% endblock %}
{% block twitterDescription %}{{ content }}{% endblock %}
{% block twitterAccount %}{{ twitterAccount }}{% endblock %}
{% block twitterImage %}{{ twitterImage }}{% endblock %}
{% block twitterUrl %}{{ url }}/{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div id="wrapper" class="wrapper" data-app-url="{{ url }}">
        <div class="middle-container">
            <div class="middle">
                <div class="image-wrapper" >
                    <img id="image" class="image" src="{{ twitterImage }}" alt="{{ content }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block githubCorner %}{% endblock %}
